
<div class="row">
<div class="card-city" style="width: 18rem;">
  <img src="https://source.unsplash.com/random">
  <div class="card-city-infos">
   <div>
      <h2>Berlin</h2>
      <p>Discover gardens in Berlin!</p>
    </div>
  </div>
</div>
<div class="card-city" style="width: 18rem;">
  <img src="https://source.unsplash.com/random">
  <div class="card-city-infos">
   <div>
      <h2>Munich</h2>
      <p>Discover gardens in Munich!</p>
    </div>
  </div>
</div>
<div class="card-city" style="width: 18rem;">
  <img src="https://source.unsplash.com/random">
  <div class="card-city-infos">
   <div>
      <h2>Hamburg</h2>
      <p>Discover gardens in Hamburg!</p>
    </div>
  </div>
</div>
<div class="card-city" style="width: 18rem;">
  <img src="https://source.unsplash.com/random">
  <div class="card-city-infos">
   <div>
      <h2>Frankfurt</h2>
      <p>Discover gardens in Frankfurt!</p>
    </div>
  </div>
</div>
</div>
