// city cards on homepage

.card-city {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: rgb(34,34,34);
  width: 18rem;
  height: 50%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: auto;
  margin-bottom: 24px;
  position: relative;
}

.card-city img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-city h2 {
  font-size: 16px;
  font-weight: bold;
  margin: auto;
  font-family: 'Varela', sans-serif;
}

.card-city p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  font-family: 'Varela', sans-serif;
}


.card-city .card-city-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.card-discover {
  margin-left: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.card-discover h3 {
  font-size: 24px;
  font-weight: 600;
}

.card-description {
  margin: auto;
  align-items: center;
}

// garden cards on show page

.container-garden h2 {
  margin-left: 56px;
  margin-top: 24px;
}


.card-location {
  margin-left: auto;
  margin-right: 56px;
}


.garden-info-flex {
  display: flex;
  text-align: center;
  width: 250px;
  padding-top: 20px;
}

.garden-content {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  height: 250px;
}

.garden-description {
  width: 750px;
  padding-top: 20px;
}

// garden cards on gardens (index) page

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 240px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
