.card-city {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-right: 16px;
  margin-left: 16px;
  margin-top: 16px;
}

.card-city > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-city h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-city p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-city .card-city-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
