.container-map {
  flex-grow: 0;
  width: 600px;
  // margin: 36px;
}

#map {
  position: sticky;
  top: 0;
}

.mapboxgl-popup {
  max-width: 100px;
}

.mapboxgl-popup-content {
  text-align: center;

  p {
    margin_bottom: none;
  }
}

